.RaceStatusButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0;
  margin: 2rem 0 0;
  position: relative;

  .container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s ease;

    &__show {
      height: auto;
      opacity: 1;
    }

    &__hide {
      opacity: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &__column {
      flex-direction: column;
      gap: 1rem;
      overflow: hidden;
      padding: 1rem 0;

      input {
        width: 100%;
        outline: 0;
        font-size: 30px;
        height: 35px;
        text-align: center;
      }
    }

    &-button {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 0;
      font-weight: 800;
      color: white;
      border-radius: 15px;

      &__validate {
        background: #66b280;
        transition: all .3s ease;

        &:is(:disabled) {
          background: #282c34;
        }
      }

      &__abort {
        background: rgb(248,13,13);
      }
    }
  }

}